<div class="text-blueGray-700 transition duration-500 ease-in-out transform bg-white">
  <div class="flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row">
    <a href="/" class="pr-2 lg:pr-8 lg:px-6 focus:outline-none">
      <div class="inline-flex items-baseline">
        <div class="w-2 h-2 p-2 mr-2 rounded-full bg-gradient-to-tr from-green-500 to-green-600"></div>
        <h2 class="block p-2 text-xl font-medium tracking-tighter text-black transition duration-500 ease-in-out transform cursor-pointer hover:text-blueGray-500 lg:text-x lg:mr-8">
          Grabenfleck e.V.
          <small class="text-gray-300 font-light text-sm font-mono block">alpha</small>
        </h2>
      </div>
    </a>
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">
      <ul class="items-center inline-block list-none lg:inline-flex">
        <li><a href="/ueber_uns/" class="navbar-item">Über uns</a></li>
        <li><a href="/luftgewehr/" class="navbar-item">Luftgewehr</a></li>
        <li><a href="/luftpistole/" class="navbar-item">Luftpistole</a></li>
        <li><a href="/bogen/" class="navbar-item">Bogen</a></li>
        <li><a href="/disziplinen/" class="navbar-item">Disziplinen</a></li>
        <li><a href="/behindertensport/" class="navbar-item">Behindertensport</a></li>
        <li><a href="/tradition/" class="navbar-item">Tradition</a></li>
        <li><a href="/mitgliedschaft/" class="navbar-item">Mitgliedschaft</a></li>
        <li><a href="/wettkampf/" class="navbar-item">Wettkampf</a></li>
        <li><a href="/training/" class="navbar-item">Training</a></li>
        <li><a href="/vorstand/" class="navbar-item">Vorstand</a></li>
        <li><a href="/jugend/" class="navbar-item">Jugend</a></li>
        <li><a href="/kontakt/" class="navbar-item">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</div>
