---
import Page from "@layouts/Page.astro";
---

<Page title="Vorstand">
  <h1>Unsere Vorstandschaft</h1>

  <!-- Team -->
  <div class="xmx-auto pb-10">
    <!-- Grid -->
    <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 md:grid-cols-2 md:gap-12 lg:grid-cols-2">
      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/georg-felbermayr-senior.jpg" alt="Georg Felbermayr" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Georg Felbermayr</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">1. Schützenmeister</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/franziska-felbermayr.jpg" alt="Franziska Felbermayr" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Franziska Felbermayr</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">2. Schützenmeisterin</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Marion Dauerer</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">1. Sportleiterin LG/LP</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Wolfgang Empl</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">2. Sportleiter LG/LP</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Jürgen Bohl</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">1. Sportleiter Bogen</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Simon Gratz</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">2. Sportleiter Bogen</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Ester Mittermeier</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Kassiererin</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Stefan Medele</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Schriftführer</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/stefan-fendl.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Stefan Fendl</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">1. Jugendleiter</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Sandra Thürstein</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">2. Jugendleiter</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Christina Dauerer</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Jugendsprecherin</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Michl Konrath</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Jugendsprecher</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Doris Faden</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Mitgliederreferentin</p>
        </div>
      </div>
      <!-- End Col -->

      <div class="text-center">
        <img class="mx-auto h-24 w-24 rounded-full" src="/images/uploads/vorstand/fallback.jpg" alt="Image Description" />
        <div class="mt-2 sm:mt-4">
          <h3 class="font-medium text-gray-800 dark:text-gray-200">Michael Klemke</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Böllerreferent</p>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <!-- Card -->
    <div class="mt-12 flex justify-center">
      <div class="rounded-full border border-gray-200 p-1.5 pl-5 dark:border-gray-700">
        <div class="flex items-center gap-x-3">
          <span class="text-sm text-gray-500">Mach mit am Vereinsleben?</span>
          <a
            class="inline-flex items-center justify-center gap-x-2 rounded-full border bg-white px-4 py-3 text-center text-sm font-medium text-blue-600 transition hover:border-gray-300 hover:text-blue-700 hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white dark:border-gray-700 dark:bg-slate-900 dark:text-blue-600 dark:hover:border-gray-600 dark:hover:text-blue-500 dark:hover:shadow-slate-700/[.7] dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
            href="/mitgliedschaft"
          >
            Zur Mitgliedschaft
            <svg class="h-2.5 w-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path
                d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Team -->
</Page>
