---
const package_version = import.meta.env.PACKAGE_VERSION;
const git_commit_hash = import.meta.env.COMMIT_REF;
---

<footer class="mx-auto mt-10 w-full bg-slate-50 py-10">
  <!-- Grid -->
  <div class="container text-center">
    <div>
      <a class="flex-none text-xl font-semibold text-black dark:text-white" href="#" aria-label="Brand">SG Grabenfleck e.V.</a>
    </div>
    <!-- End Col -->

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a
        class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
        href="#!"
      >
        <i class="bi bi-twitter-x"></i>
      </a>
      <a
        class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
        href="#!"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
        href="#!"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
        href="#!"
      >
        <i class="bi bi-signal"></i>
      </a>

      <nav class="mx-auto mt-3 flex w-full flex-wrap items-center justify-center text-base">
        <a href="/impressum/" class="mx-2">Impressum</a>
        <a href="/datenschutz/" class="mx-2">Datenschutzerklährung</a>
      </nav>

      <div class="mt-3">
        <p title={`${package_version} • ${git_commit_hash.substring(0, 7)}`} class="text-sm text-gray-500">
          © 2023 • {package_version}
        </p>
      </div>
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </div>
</footer>
