---
const { title } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SG Grabenfleck e.V - {title}</title>

<meta
  name="description"
  content="Schützengesellschaft Grabenfleck e.V. München-Pasing dem Schützenverein im
Münchener Westen mit 200 Mitgliedern und öffentlich anerkannter Jugendgruppe"
/>
