---
const currentPath = Astro.url.pathname;
---

<header class="z-50 mb-4 flex w-full flex-wrap border-b border-gray-200 bg-white py-3 text-sm sm:flex-nowrap sm:justify-start sm:py-0">
  <nav class="relative mx-auto w-full max-w-[85rem] px-6 sm:flex sm:items-center sm:justify-between" aria-label="Global" data-current-path={currentPath}>
    <div class="flex items-center justify-between">
      <a href="/" class="focus:outline-none">
        <div class="inline-flex items-center">
          <div class="flex w-14 text-5xl">
            <img src="/images/uploads/logo-schuetzen-vektor.svg" alt="Logo der SG Grabenfleck e.V." class="w-12" />
          </div>
          <h2
            class="hover:text-blueGray-500 lg:text-x block transform cursor-pointer whitespace-nowrap p-2 text-xl font-medium tracking-tighter text-black transition duration-500 ease-in-out"
          >
            SG Grabenfleck e.V.
            <small class="block text-sm font-light text-gray-500">München-Pasing</small>
          </h2>
        </div>
      </a>
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle inline-flex items-center justify-center gap-2 rounded-md border bg-white p-2 align-middle text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <svg class="hs-collapse-open:hidden h-4 w-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            ></path>
          </svg>
          <svg class="hs-collapse-open:block hidden h-4 w-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div id="navbar-collapse-with-animation" class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 sm:block">
      <div class="mt-5 flex flex-col gap-x-0 gap-y-4 sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:gap-x-3 sm:gap-y-0 sm:pl-7 md:gap-x-6 lg:gap-x-7">
        <a href="/ueber-uns/" class={currentPath === "/ueber-uns/" ? "navbar-item active" : "navbar-item"}>Über uns</a>
        <a href="/tradition/" class={currentPath === "/tradition/" ? "navbar-item active" : "navbar-item"}>Tradition</a>

        <div class="hs-dropdown [--adaptive:none] [--strategy:static] sm:py-4 sm:[--strategy:fixed] sm:[--trigger:hover]">
          <button type="button" class="flex w-full items-center font-medium text-gray-500 hover:text-gray-400">
            Disziplinen
            <svg class="ml-2 h-2.5 w-2.5 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              ></path>
            </svg>
          </button>

          <div
            class="hs-dropdown-menu hs-dropdown-open:opacity-100 top-full z-10 hidden rounded-lg bg-white p-2 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-top-5 before:left-0 before:h-5 before:w-full sm:w-48 sm:border sm:shadow-md sm:duration-[150ms]"
          >
            <a class="flex items-center gap-x-3.5 rounded-md px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500" href="/bogen/">
              Bogen
            </a>
            <a
              class="flex items-center gap-x-3.5 rounded-md px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500"
              href="/luftgewehr/"
            >
              Luftgewehr
            </a>
            <a
              class="flex items-center gap-x-3.5 rounded-md px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500"
              href="/luftpistole/"
            >
              Luftpistole
            </a>
            <a
              class="flex items-center gap-x-3.5 rounded-md px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500"
              href="/lichtgewehr-pistole/"
            >
              Lichtgewehr- /pistole
            </a>
            <a
              class="flex items-center gap-x-3.5 rounded-md px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500"
              href="/behindertensport/"
            >
              Behindertensport
            </a>
          </div>
        </div>

        <a href="/training/" class={currentPath === "/training/" ? "navbar-item active" : "navbar-item"}>Training</a>
        <a href="/wettkampf/" class={currentPath === "/wettkampf/" ? "navbar-item active" : "navbar-item"}>Wettkampf</a>
        <a href="/jugend/" class={currentPath === "/jugend/" ? "navbar-item active" : "navbar-item"}>Jugend</a>
        <a href="/vorstand/" class={currentPath === "/vorstand/" ? "navbar-item active" : "navbar-item"}>Vorstand</a>
        <a href="/mitgliedschaft/" class={currentPath === "/mitgliedschaft/" ? "navbar-item active" : "navbar-item"}>Mitgliedschaft</a>
        <a href="/kontakt/" class={currentPath === "/kontakt/" ? "navbar-item active" : "navbar-item"}>Kontakt</a>
      </div>
    </div>
  </nav>
</header>
