<!doctype html>
<html lang="de">
  <head>
    {% include head.html %}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="{{ page.layout }} {{ page.page_class }} border-t-8 border-green-600">
    <div class="container items-center ">
      {% include navbar.html %}

      <main id="swup" class="container">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
