---
layout: default
---

<div class="mx-auto px-5 lg:px-8 lg:w-2/4">
  <div class="text-sm title-font text-gray-500 tracking-widest uppercase mb-2">
    {{ page.title }}
  </div>

  <div class="prose">
    {{ content }}
  </div>
</div>
