---
import "../stylesheets/app.css";

import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <Head title={title} />

    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css" />
  </head>
  <body class="border-t-8 border-green-600">
    <Navbar />
    <main class="mx-auto w-full max-w-[85rem] px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
    <Footer />

    <script is:inline src="https://cdn.jsdelivr.net/npm/@preline/collapse@1/index.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/@preline/dropdown@1/index.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/medium-zoom@1/dist/medium-zoom.min.js"></script>
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }

      // Medium Zoom setup
      document.addEventListener("DOMContentLoaded", () => {
        mediumZoom(".image-gal > li > img", {
          background: "rgba(255, 255, 255, .75)",
          margin: 24,
        });
      });
    </script>
  </body>
</html>
