---
import Default from "@/layouts/Default.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<Default title={title}>
  <div class="title-font mb-2 text-sm uppercase tracking-widest text-gray-500">
    <i class="bi bi-house mr-1"></i>
    {title}
  </div>

  <div class="prose">
    <slot />
  </div>
</Default>
