<nav>
  <a href="/">Start</a>
  <a href="/ueber_uns">Über uns</a>
  <a href="/lg-lp">Luftgewehr /-pistole</a>
  <a href="/bogen">Bogen</a>
  <a href="/behindertensport">Behindertensport</a>
  <a href="/tradition">Tradition</a>
  <a href="/mitgliedschaft">Mitgliedschaft</a>
</nav>
